@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');

@import "scss/variables.scss";

@keyframes background-scroll 
{
  0% {background-position: 0% 0%;}
  100% {background-position: 100% 100%;}
}

body, html
{
    height: 100%;
    margin: 0; 
    padding: 0;
    
    font-size: 16px;
    font-family: Lato, Nunito, Heveltica;
  
    color: #333333;
  
    overflow-x: hidden;
}

a
{
    color: #00CCCC;
    text-decoration: underline;
    cursor: pointer;
  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.cover-img
{
    /* The image used */
    background-image: url("https://cdn.glitch.com/b4a9f84f-f609-4b97-897f-66f24c1d3d7e%2Fimage.png?1521141258272");/*url("https://images.unsplash.com/photo-1496134732667-ae8d2853a045?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4dd1c9106a69065ccfa21a36cfb53b1&auto=format&fit=crop&w=1350&q=80");*/

    /* Full height */
    height: 100%; 
  
    @media (max-height: 330px)
    {
        height: 330px;
    }
  
    @media (min-width: 300px)
    {
        height: 600px;
    }
  
    @media (min-width: $desktop)
    {
        height: 100%;
    }

    /* Create the parallax scrolling effect */
    background-attachment: fixed;     
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  
    div.motto
    {
        position: relative;
        top: 20%;
        color: #FFFFFF;
        font-size: 192px;
        font-weight: 800;
        text-align: center;
        text-shadow: 0px 0 20px rgba(0, 0, 0, 1);
        text-transform: uppercase;
      
      
        @media (max-width: $tablet)
        {
            font-size: 132px;
        }
        @media (max-width: $mobile)
        {
            font-size: 82px;
        }
    }
  
    div.motto.small
    {
        position: relative;
        top: 25%;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #FFFFFF;
        font-size: 32px;
        font-weight: 800;
        text-align: center;
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
      
        @media (max-width: $tablet)
        {
            font-size: 32px;
        }
      
        @media (max-width: $mobile)
        {
            font-size: 16px;
        }
      
        background: rgba(0, 0, 0, 0.4);  
  }
}

.section
{
    z-index: 2;
    
    padding: 10px;
}

h1 
{
    font-size: 52px;
  
    &:not(b, l) {font-weight: 600;}
      
    @media (max-width: $tablet)
    {
        font-size: 46px;
    }

    @media (max-width: $mobile)
    {
        font-size: 40px;
    }
}

h2
{
    font-size: 46px;
  
    &:not(b, l) {font-weight: 600;}
      
    @media (max-width: $tablet)
    {
        font-size: 40px;
    }

    @media (max-width: $mobile)
    {
        font-size: 34px;
    }
}

h3
{
    font-size: 40px;
  
    &:not(b, l) {font-weight: 600;}
      
    @media (max-width: $tablet)
    {
        font-size: 34px;
    }

    @media (max-width: $mobile)
    {
        font-size: 28px;
    }
}

h4
{
    font-size: 28px;
    font-family: Nunito, Lato, Heveltica;
  
    &:not(b, l) {font-weight: 600;}
      
    @media (max-width: $tablet)
    {
        font-size: 22px;
    }

    @media (max-width: $mobile)
    {
        font-size: 16px;
    }
}

h5
{
    font-size: 16px;
    font-family: Nunito, Lato, Heveltica;
  
    &:not(b, l) {font-weight: 600;}
      
    @media (max-width: $tablet)
    {
        font-size: 14px;
    }

    @media (max-width: $mobile)
    {
        font-size: 12px;
    }
}

h6
{
    font-size: 12px;
    font-family: Nunito, Lato, Heveltica;
  
    &:not(b, l) {font-weight: 600;}
      
    @media (max-width: $tablet)
    {
        font-size: 10px;
    }

    @media (max-width: $mobile)
    {
        font-size: 8px;
    }
}

p
{
    font-family: Nunito, Lato, Heveltica;
}

ul
{
    font-family: Nunito, Lato, Heveltica;
}

blockquote 
{
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 3.75px 0;
    padding: 5.25px 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before 
{
    display: block;
    padding-left: 10px;
    font-size: 60px;
    position: absolute;
    left: 0px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite 
{
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 8px;
}
 
blockquote cite:before 
{
    content: "\2014 \2009";
}

.review
{
    font-family: Nunito, Lato, Heveltica;
    border: 1px solid #DDDDDD;
    width: 49%;
  
    height: 200px;
}

.parallax
{
    background: url("https://cdn.glitch.com/b4a9f84f-f609-4b97-897f-66f24c1d3d7e%2Fchessdark.jpg?1521101643792");
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;     
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.parallax.games
{ 
    .title
    {
        
        position: relative;
        top: 70px;
        color: #FFFFFF;
        font-size: 192px;
        font-family: Lato;
        font-weight: 800;
        text-align: center;
        text-shadow: 0px 0 15px rgba(0, 0, 0, 1);
        text-transform: uppercase;
      
      
        @media (max-width: $tablet)
        {
            font-size: 132px;
        }
        @media (max-width: $mobile)
        {
            font-size: 82px;
        }
    }
    .subtitle
    {
        position: relative;
        top: 25%;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 800;
        text-align: center;
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      
        @media (max-width: $tablet)
        {
            font-size: 20px;
        }
      
        @media (max-width: $mobile)
        {
            font-size: 14px;
        } 
    }
}

.review .title
{
    margin: 5px;
    margin-left: 40px;
    text-decoration: underline;
}

.review .stars
{
    margin-left: 40px;
    color: #FFCC00;
}

.review .stars > b
{
    color: #333333;
}

.fl
{
    float: left !important;
}

.fr
{
    float: right !important;
}