@import url('https://fonts.googleapis.com/css?family=Nunito:400,800&subset=latin-ext');
@import "scss/variables.scss";

@keyframes background-scroll 
{
  0% {background-position: 0% 0%;}
  100% {background-position: 100% 100%;}
}

body, html
{
    height: 100%;
    margin: 0; 
    padding: 0;
    
    font-size: 16px;
    font-family: Nunito, Heveltica;
    
}

.parallax 
{ 
    /* The image used */
    background-image: url("https://cdn.glitch.com/b4a9f84f-f609-4b97-897f-66f24c1d3d7e%2Fimage.png?1520949254137");/*url("https://images.unsplash.com/photo-1496134732667-ae8d2853a045?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4dd1c9106a69065ccfa21a36cfb53b1&auto=format&fit=crop&w=1350&q=80");*/

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 0px 0px;
    background-repeat: repeat;
    background-size: 32px 32px;
    z-index: 1;
  
    filter: blur(.5px);
    
    animation: background-scroll 30s infinite;
}

.cover-img
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    div
    {
        color: #FFFFFF;
        font-size: 76px;
        font-weight: 600;
        text-align: center;
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.66);
        text-transform: uppercase;
    }
}

.section
{
    background: rgba(0, 0, 0, 0);
    z-index: 2;
}