@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');

@import "scss/variables.scss";

@keyframes background-scroll 
{
  0% {background-position: 0% 0%;}
  100% {background-position: 100% 100%;}
}

body, html
{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body
{    
    margin: 0; 
    padding: 0;
    
    font-size: 16px;
    font-family: Lato, Nunito, Heveltica;
  
    color: #333333;
  
    overflow-x: hidden;
}

html
{
    overflow-y: hidden !important;
}

a
{
    color: #00CCCC !important;
    text-decoration: underline;
    cursor: pointer !important;
  
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -o-user-select: none !important;
}

.cover-img
{
    /* The image used */
    background-image: url("https://cdn.glitch.com/b4a9f84f-f609-4b97-897f-66f24c1d3d7e%2FCoverimg.png?1521142277136");

    /* Full height */
    height: 100%; 
  
    opacity: 1;
  
    @media (max-height: 330px)
    {
        height: 330px;
    }
  
    @media (min-width: 300px)
    {
        height: 600px;
    }
  
    @media (min-width: $desktop)
    {
        height: 100%;
    }

    /* Create the parallax scrolling effect */
    background-attachment: fixed;     
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  
    div.motto
    {
        position: relative;
        top: 20%;
        color: #FFFFFF;
        font-size: 192px;
        font-weight: 800;
        text-align: center;
        text-shadow: 0px 0 20px rgba(0, 0, 0, 1);
        text-transform: uppercase;
      
      
        @media (max-width: $tablet)
        {
            font-size: 132px;
        }
        @media (max-width: $mobile)
        {
            font-size: 82px;
        }
    }
  
    div.motto.small
    {
        position: relative;
        top: 25%;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #FFFFFF;
        font-size: 32px;
        font-weight: 800;
        text-align: center;
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
      
        @media (max-width: $tablet)
        {
            font-size: 32px;
        }
      
        @media (max-width: $mobile)
        {
            font-size: 16px;
        }
      
        background: rgba(0, 0, 0, 0.4);  
    }
}

.section
{
    z-index: 2;
    
    padding: 10px;
  
    
    ul
    {
      list-style-type: none;
    }

    li:before
    {
        content: "-"; /* Insert content that looks like bullets */
        padding-right: 8px;
        color: #999999; /* Or a color you prefer */
    }
}

h1 
{
    font-size: 52px !important;
  
    &:not(b, l) {font-weight: 600;}
      
    @media (max-width: $tablet)
    {
        font-size: 46px !important;
    }

    @media (max-width: $mobile)
    {
        font-size: 40px !important;
    }
}

h2
{
    font-size: 46px !important;
  
    &:not(b, l) {font-weight: 600;}
      
    @media (max-width: $tablet)
    {
        font-size: 40px !important;
    }

    @media (max-width: $mobile)
    {
        font-size: 34px !important;
    }
}

h3
{
    font-size: 40px !important;
  
    &:not(b, l) {font-weight: 600;}
      
    @media (max-width: $tablet)
    {
        font-size: 34px !important;
    }

    @media (max-width: $mobile)
    {
        font-size: 28px !important;
    }
}

h4
{
    font-size: 28px !important;
    font-family: Nunito, Lato, Heveltica;
  
    &:not(b, l) {font-weight: 600;}
      
    @media (max-width: $tablet)
    {
        font-size: 22px !important;
    }

    @media (max-width: $mobile)
    {
        font-size: 16px !important;
    }
}

h5
{
    font-size: 16px !important;
    font-family: Nunito, Lato, Heveltica;
  
    &:not(b, l) {font-weight: 600;}
      
    @media (max-width: $tablet)
    {
        font-size: 14px !important;
    }

    @media (max-width: $mobile)
    {
        font-size: 12px !important;
    }
}

h6
{
    font-size: 12px !important;
    font-family: Nunito, Lato, Heveltica;
  
    &:not(b, l) {font-weight: 600;}
      
    @media (max-width: $tablet)
    {
        font-size: 10px !important;
    }

    @media (max-width: $mobile)
    {
        font-size: 8px !important;
    }
}

p
{
    font-family: Nunito, Lato, Heveltica;
}

ul
{
    font-family: Nunito, Lato, Heveltica;
}

blockquote 
{
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: 3.75px 0;
    padding: 5.25px 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before 
{
    display: block;
    padding-left: 10px;
    font-size: 60px;
    position: absolute;
    left: 0px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite 
{
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 8px;
}
 
blockquote cite:before 
{
    content: "\2014 \2009";
}

.review
{
    font-family: Nunito, Lato, Heveltica;
    border: 1px solid #DDDDDD;
  
    height: 260px;
}

.parallax
{
    background: url("https://cdn.glitch.com/b4a9f84f-f609-4b97-897f-66f24c1d3d7e%2Fchessdark.jpg?1521101643792");
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;     
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.parallax.games
{ 
    margin: 0;
    padding: 0;
    .title
    {
        
        position: relative;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 60px;
        color: #FFFFFF;
        font-size: 192px;
        font-family: Lato;
        font-weight: 800;
        text-align: center;
        text-shadow: 0px 0 15px rgba(0, 0, 0, 1);
        text-transform: uppercase;
      
      
        @media (max-width: $tablet)
        {
            font-size: 132px;
        }
        @media (max-width: $mobile)
        {
            font-size: 82px;
        }
    }
    .subtitle
    {
        position: relative;
        top: 25%;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 800;
        text-align: center;
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      
        @media (max-width: $tablet)
        {
            font-size: 20px;
        }
      
        @media (max-width: $mobile)
        {
            font-size: 14px;
        } 
    }
}

.review .title
{
    margin: 5px;
    margin-left: 40px;
    text-decoration: underline;
}

.review .stars .fas
{
    margin-right: 5px;
    color: #EEBB00;
}
.review .stars .far
{
    color: #EEBB00;
}
.review .stars
{
    margin-left: 40px;
}

.review .stars
{
    color: #333333;
}

.fl
{
    float: left !important;
}

.fr
{
    float: right !important;
}

.gametitle
{
    margin: 0;
    margin-left: 10px;
}

.gamedesc
{
    margin-left: 40px;
}

.review blockquote
{
    margin-left: 40px;
}

.navigation
{
    position: fixed;
    left: -15%;
  
    width: 15%;
    height: 100%;  
    
    margin:  0;
  
    opacity: 0;
  
    z-index: 3;
  
    @media (max-width: $desktopHD)
    {
        left: -20%;
        width: 20%;
    }
  
    @media (max-width: $desktop)
    {
        left: -25%;

        width: 25%;
    }
  
    @media (max-width: $tablet)
    {
        left: -40%;

        width: 40%;
    }

    @media (max-width: $phablet)
    {
        left: -50%;

        width: 50%;
    }

    @media (max-width: $mobile)
    {
        left: -90%;

        width: 90%;
    }
  
    background: #212120;
  
    ul
    {
        list-style-type: none;
    }
    
    li:not(:first-child)
    {
        margin-top: 10px;
    }
    
    li:not(:last-child)
    {
        margin-bottom: 10px;
    }
  
    li
    {
        font-size: 1.5em;
        position: relative;
        display: block;
      
      
        i
        {
            font-size: 36px;
            float: left;
            margin-left: 15px;
            margin-top: 15px;
            line-height: 30px;
            width: 30px;
            text-align: center;
        }
      
        p
        {
            display: inline;
            position: relative;
            top: 15px;
            line-height: 30px;
            font-size: 18px;
            font-weight: 600;
        }
        
        a
        {
            color: #FFFFFF !important;
            text-decoration: none !important;

            margin-left: 20px;
            padding-left: 25px;
            padding-right: 25px;
            opacity: .7;
        }
        
        a:hover
        {
            opacity: 1;
        }
    }
}

.navigation-icon
{
    position: fixed;
    margin: 0;
    top: 5px;
    left: 15px;
    z-index: 5;
    color: #FFFFFF;
    font-size: 36px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}